.banner {
  display: flex;
  /* width: 90%; */
  margin: 0 auto;
  position: relative;
}

.image {
  width: 70%;
  border-radius: 20px;
  /* margin: 0 auto; */
}

.image img {
  width: 100%;
  min-width: 30%;
  border-radius: 20px;
  background-position: center;
  background-size: contain;
}

@media (max-width: 1000px) {
  .image {
    width: 100%;
  }
}
