.container {
  max-width: 90%;
  margin: 0 auto;
  height: 100vh;
  background-color: #000000bb;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr;
}

.sideNav {
  grid-column: 1/3;
  display: grid;
  padding: 1rem 1rem;
  align-items: center;
  justify-content: center;
}
.sideNavList {
  max-width: 100%;
  height: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}
.profileInfo {
  text-align: center;
}
.profileInfo h3 {
  margin-bottom: 1rem;
}
.profileInfo p {
  font-size: 13px;
  color: #e0e0e0;
}
.sideNav .sideNavList .items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.btn {
  border-radius: 5px;
  padding: 0.7rem 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}
.sideNavList a {
  text-decoration: none;
  color: #edececb2;
}

.sideNavList a:hover {
  color: #fff;
}
.mainPage {
  padding: 1rem;
  display: grid;
  grid-column: 3/-1;
  overflow-y: scroll;
}
.mainPage main {
  height: 100%;
  overflow-y: scroll;
}
.content {
  height: 100%;
  border-radius: 10px;
  padding: 0 1rem;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2rem;
  overflow-y: scroll;
}
.mealPlaner {
  border-radius: 10px;
  padding: 1rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.recipes {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #fff;
  border-radius: 10px;
}

.search {
  width: 100%;
  display: flex;
  color: #999;
  align-items: center;
  /* height: 100px; */
  justify-content: center;
}
.search input {
  width: 100%;
  padding: 1rem 0.5rem;
  font-size: 16px;
  border: none;
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.recipesContainer {
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;

  row-gap: 1em;
  column-gap: 0.5rem;
}

.recipesContainer .card {
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 10px;
  transition: 500ms;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.16);
}

.recipesContainer .card .img {
  width: 100%;
}

.recipesContainer .card .img img {
  max-width: 100%;
  aspect-ratio: 4/3;
  border-radius: 10px;
}

.recipesContainer .card a {
  text-decoration: none;
  display: block;
  color: #000;
  margin-bottom: 1rem;
  font-size: 14px;
  line-height: 1.36;
  font-weight: 700;
}

.recipesContainer .card .cardInfos {
  display: flex;
  gap: 1rem;
  font-size: 10px;
}

.recipesContainer .card .cardInfos div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0.3rem;
  font-weight: bold;
}
.dashboardSummary {
  grid-column: 1/9;
  display: grid;
  grid-template-rows: 1fr 2fr;
}
.nutrientsSummary {
  grid-column: 9/-1;
}

.nutrientsProgress {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  height: 90%;
  justify-content: space-around;
  /* align-self: center; */
  justify-self: center;
}

.nutrientsProgress h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 1.1rem;
}

.progressBar {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 15px;
  position: relative;
}

.label {
  font-size: 11px;
  /* flex: 1; */
  color: #666;
  text-align: left;
}

.progressContainer {
  display: flex;
  align-items: center;
}

.progress {
  /* position: absolute; */
  /* left: 30%; */
  -webkit-appearance: none;
  appearance: none;
  width: 150px;
  height: 5px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #e0e0e0;
  margin-right: 5px;
}

.progress::-webkit-progress-bar {
  background-color: #e0e0e0;
}

.progress::-webkit-progress-value {
  background-color: #4caf50;
  transition: width 0.3s;
}

.progress::-moz-progress-bar {
  background-color: #4caf50;
  transition: width 0.3s;
}

.progressValue {
  width: 50px;
  font-size: 14px;
  color: #333;
  text-align: right;
}

/*Profile page*/
.profile {
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  background-color: #fff;
}

.searchContainer {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: column;
  /* flex: 4; */
  height: 30%;
}

.selectedMealsBox {
  /* flex: 6; */
  height: 50%;
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
  animation: slideInFromLeft 1s ease-out forwards;
}

.selectedMealsBox .listContainer {
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.selectedMealsBox .listContainer button {
  padding: 0.5rem 2rem;
  background-color: rgba(0, 51, 255, 0.357);
  align-self: center;
  border-radius: 5px;
}

.selectedMealsBox .listContainer button:hover {
  background-color: rgba(0, 51, 255, 0.673);
  cursor: pointer;
}

.selectedLists {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 0.5rem;
  font-size: 12px;
}
/* 
@keyframes slideInFromLeft {
  0% {
    transform: translateX(100%); 
  }
  100% {
    transform: translateX(0); 
  }
} */

.selectedList {
  display: flex;
  justify-content: space-between;
  color: #777;
}
.icon:hover {
  cursor: pointer;
}

.selectedMealsBox div:last-child {
  flex: 1;
}
.pieChart {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  animation: slideInFromRight 1s ease-out forwards;
}

/* @keyframes slideInFromRight {
  0% {
    transform: translateX(100%); 
  }
  100% {
    transform: translateX(0); 
  }
} */

.searchContainer input {
  width: 100%;
}
.mealsBox {
  /* position: absolute; */
  background-color: white;
  /* padding: 1rem 0; */
  width: 100%;

  top: 100%;
  box-shadow: 1px 9px 13px -2px rgba(0, 0, 0, 0.49);
  /* box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); */
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.meals {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0.4rem;
  gap: 0.8rem;
}
.meal {
  font-size: 12px;
  color: #999;
  display: flex;
  justify-content: space-between;
}

.meal button {
  background-color: transparent;
}

.meal button:hover {
  background-color: #999;
  cursor: pointer;
}

.meal:hover {
  color: #000;
  cursor: pointer;
}
.visited {
  display: grid;
}
.dailyMeals {
  overflow: scroll;
  height: 300px;
  overflow-y: scroll;
}

.dailyMealsLists {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  /* column-gap: 2rem; */
  /* row-gap: 0.5rem; */
  padding: 0.5rem;
  border-radius: 5px;
}
.dailyMealsLists li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
  padding: 0.4rem 1rem;
  /* border-radius: 5px; */
  font-size: 10px;
  border-bottom: 0.7px solid #777;
}

.dailyMealsLists li div .img {
  justify-self: stretch;
}

.dailyMealsLists li div img {
  width: 50px;
  /*  */
  border-radius: 5px;
  aspect-ratio: 3/2;
  object-fit: cover;
  /* justify-self: stretch; */
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* gap: 0.5rem; */
}

.dailyMealsLists li .innerBox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.status {
  margin: 0;
}
.total {
  color: #333;
  font-weight: bolder;
  font-size: 0.6rem;
}
.date {
  font-size: 0.6rem;
}

.moreInfo {
}

.dailyMealsLists li a {
  text-decoration: none;
  color: #777;
  display: block;
  /* background-color: #e0e0e0; */
}

.weekSample {
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
}

.pieChartInfo {
  /* border: 1px solid red; */
  /* display: flex;
  flex-wrap: wrap; */
}

.pieChartInfo li {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 4rem;
  justify-content: space-between;
}

.pieChartInfo li div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.pieChartInfo li div p:first-child {
  width: 10px;
  height: 10px;
  border-radius: 2px;
}

.pieChartInfo li div p:nth-child(2) {
  font-size: 10px;
}
.pieChartInfo li p:nth-child(2) {
  font-size: 10px;
}
