/* .mainContainer {
  gap: 8rem;
  display: grid;
  width: 200px;
  border: 1px solid red;
} */

.container {
  border: 1px solid red;
  max-width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: 300px 300px 300px; */
  row-gap: 3rem;
  column-gap: 2rem;
}
h3 {
  /* margin-left:30% ; */
  grid-column: 1/5;
  margin: 0;
  font-weight: 700;
  font-family: "Nunito";
  color: #344054;
}
.container div:first-child {
  grid-row: 2/3;
}

@media (max-width: 1000px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
  h3 {
    grid-column: 1/3;
  }
}
