.searchContainer {
  display: flex;
  align-items: center;
  position: relative;
  display: flex;
  padding: 1rem 0;
  /* border: 1px solid red; */
}
.search {
  max-width: 100%;
  /* border: 1px solid red; */
  display: flex;
  /* max-width: 100%; */

  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
input {
  width: 100%;
  padding: 1rem 2rem;
  font-size: 16px;
  border: none;
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px; /* Optional: Adds rounded corners */
}
button {
  border: none;
}
.search i {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 1rem;
  cursor: pointer;
  transition: 500ms;
  padding: 0.7rem;
  border-radius: 5px;
  color: #fff;
  background-color: orange;
}

.search i:hover {
  color: black;
}

@media (max-width: 1000px) {
  .searchContainer {
    position: relative;
    display: flex;
    right: inherit;
    margin: 0 auto;
    /* width: 30rem; */
  }
  h3 {
    grid-column: 1/3;
  }
}
