.search {
  width: 100%;
  display: flex;
  color: #999;
  align-items: center;
  height: 100px;
  justify-content: center;
  /* border: 1px solid red; */
}
.search input {
  width: 100%;
  padding: 1rem 0.5rem;
  font-size: 16px;
  border: none;
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

@media (max-width: 1000px) {
  .searchContainer {
    position: relative;
    display: flex;
    right: inherit;
    margin: 0 auto;
    /* width: 30rem; */
  }
  h3 {
    grid-column: 1/3;
  }
}
