@import url(//fonts.googleapis.com/css?family=Nunito);

* {
  font-family: "Nunito", sans-serif, "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
body {
  background-color: #f8f8f8;
  height: calc(100vh - 1rem);
}
